
/* Container for the paper */
.paper {
  width: min(100%, 1280px);
  margin: auto;
  background: var(--paper);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 10px; */
  overflow: hidden;
}

/* Header for the paper */
.header {
  background: var(--paper);
  text-align: center;
  font-size: 2em;
  margin: .5em;
}

/* Body of the paper */
.body {
  line-height: 1.6;
  margin: 0 10%;
}

/* Footer of the paper */
.footer {
  background: var(--paper);
  padding: 10px;
  text-align: center;
  font-size: 12px;
}