@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

:root {
  --dark: #2a3d45;
  --light: #ddc9b4;
  --paper: #f6eee3;
  --green: #558b6e;
  --rose: #8c5e58;
  --purple: #c792df;
  --text: #000000;
  --bggreen: #334947;
}

@supports (font-variation-settings: normal) {
  body { font-family: 'Fira Code VF', monospace; }
}

body {
  margin: 0;
  padding: 0;
  
  font-family: 'Fira Code', monospace;
  background-color: var(--bggreen);
  color: var(--text);
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}